.Boton_1 {
    display: inline-block;
    padding: 2px;
    background-color: #5cf04f;
    color: #ffffff;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
    font-family: sans-serif;
    margin: 5px;
}

.Boton_1:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

.Boton_1:active {
    background-color: #216a94;
}

.Boton_2 {
    display: inline-block;
    padding: 2px;
    background-color: rgb(201, 30, 30);
    color: #ffffff;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
    font-family: sans-serif;
}

.Boton_2:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

.Boton_2:active {
    background-color: #216a94;
}

.modal_1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
}